<div id="carouselExampleIndicators" class="carousel slide home-slider" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button  class="rounded-circle" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button class="rounded-circle" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button class="rounded-circle" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner slider-content h-100">
      <div class="carousel-item slide1 h-100 active" data-bs-interval="10000">
        <div class="carousel-caption caption  d-sm-block">
          <div class="slide1-caption rounded-circle">
            <img src="assets/images/slider/bard.png"/>
            <h2>Handicraft Shop</h2>
            <h3>Just for you</h3>
            <a routerLink="/products">Shop now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item slide2 h-100">
        <div class="carousel-caption caption  d-sm-block">
          <div class="slide1-caption rounded-circle">
            <img src="assets/images/slider/title-decor-left.png"/>
            <img src="assets/images/slider/title-decor-right.png"/>
            <h2 class="title">Newly arrived</h2>
            <h3 >
              Sale up to
              <br/>
              10%
            </h3>
            <a routerLink="/products">Shop now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item slide3 h-100">
        <div class="carousel-caption caption mt-4  d-sm-block">
          <h2 class="title">Affectious gifts</h2>
          <h3 class="subtitle">
            <img src="assets/images/slider/title-decor-left.png"/>
            <span>For friends & family</span>
            <img src="assets/images/slider/title-decor-right.png"/>
          </h3>
          <div class="link">
            <a routerLink="/products">Shop now</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <i class="fa-solid fa-chevron-left fa-beat" style="color: #030303;"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <i class="fa-solid fa-chevron-right fa-beat" style="color: #030303;"></i>
    </button>
</div>
  