<div class="footer">
    <div class="logo">
        <!-- <p>.shopify.</p> -->
        <img src="assets/images/logo1.png"/>
    </div>
    <div class="connectus">
        <a href="https://www.youtube.com">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com">
            <i class="fa-brands fa-facebook-f" ></i>
        </a>
        <a href="https://www.twitter.com">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://www.instagram.com">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
    
    <p class="copyright">
        © {{date}} LeArts. All Rights Reserved | <span>(+00) 123 456789</span> | <a href="contact@gmail.com"> contact@demo.com</a>
    </p>
</div>

